
@font-face {
  font-family: 'BebasNeueBold';
  src: url('../fonts/BebasNeueBold/BebasNeueBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/BebasNeueBold/BebasNeueBold.woff') format('woff'),
  url('../fonts/BebasNeueBold/BebasNeueBold.ttf')  format('truetype'),
  url('../fonts/BebasNeueBold/BebasNeueBold.svg#BebasNeueBold') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'BebasNeueBook';
  src: url('../fonts/BebasNeueBook/BebasNeueBook.eot?#iefix') format('embedded-opentype'),
  url('../fonts/BebasNeueBook/BebasNeueBook.woff') format('woff'),
  url('../fonts/BebasNeueBook/BebasNeueBook.ttf')  format('truetype'),
  url('../fonts/BebasNeueBook/BebasNeueBook.svg#BebasNeueBook') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MyriadProRegular';
  src: url('../fonts/MyriadProRegular/MyriadProRegular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/MyriadProRegular/MyriadProRegular.woff') format('woff'),
  url('../fonts/MyriadProRegular/MyriadProRegular.ttf')  format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'SourceSansProBold';
  src: url('../fonts/SourceSansProBold/SourceSansProBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/SourceSansProBold/SourceSansProBold.woff') format('woff'),
  url('../fonts/SourceSansProBold/SourceSansProBold.ttf')  format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'SourceSansProLight';
  src: url('../fonts/SourceSansProLight/SourceSansProLight.eot?#iefix') format('embedded-opentype'),
  url('../fonts/SourceSansProLight/SourceSansProLight.woff') format('woff'),
  url('../fonts/SourceSansProLight/SourceSansProLight.ttf')  format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'SourceSansProRegular';
  src: url('../fonts/SourceSansProRegular/SourceSansProRegular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/SourceSansProRegular/SourceSansProRegular.woff') format('woff'),
  url('../fonts/SourceSansProRegular/SourceSansProRegular.ttf')  format('truetype');
  font-style: normal;
}

