/*--- IMPORT ---*/

@import "fonts";
@import "variables";
@import "basic";
@import "popup";
@import "slick";
@import "slick-teame";


/*--- HEADER ---*/

header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.6);
  padding-top: 12px;
  padding-bottom: 12px;
  z-index: 1000;

  @media(max-width: 720px){
    padding-bottom: 20px;
  }


  .content{
    @include flexbox;
    justify-content: space-between;
    align-items: center;

    .logo{
      display: block;
      width: 130px;

      img{
        width: 100%;
        height: auto;
      }
      @media(max-width: 992px){
        width: 100px;
      }

      @media(max-width: 380px){
        width: 80px;
      }
    }

    .contacts{
      @include flexbox;
      align-items: center;

      @media(max-width: 720px){
        flex-wrap: wrap;
        justify-content: space-around;
        width: 146px;
      }

      a{
        margin-right: 40px;
        color: #ffffff;

        @media(max-width: 992px){
          margin-right: 20px;
        }

        @media(max-width: 620px){
          margin-right: 0;
        }

        @media(max-width: 380px){
          font-size: 14px;
        }

        &:last-child{
          margin-right: 0;
        }
      }

      .phone{
        img{
          margin-right: 5px;
        }

      }

      .phone-dropdowns{
        position: relative;

        p{
          color: #ffffff;
          font-size: 12px;
          margin-bottom: -12px;
        }

        .arrow-down{
          position: absolute;
          top: 0;
          right: -25px;
          transition: all 0.5s;

          @media(max-width: 380px){
            right: -20px;
            top: 5px;
          }
        }

        .active-more-phone{
          transform: rotate(180deg);
        }

        .phone-list{
          display: none;
          position: absolute;
          top: 58px;
          left: 0;
          padding: 0;
          padding-bottom: 10px;
          padding-left: 10px;
          padding-right: 10px;
          background-color: rgba(0,0,0,0.6);

          @media(max-width: 992px){
            top: 48px;
          }

          @media(max-width: 720px){
            top: 52px;
          }

          li{
            list-style: none;

            @media(max-width: 620px){
              font-size: 14px;
            }
          }
        }
      }
    }

    .button{
      @media(max-width: 992px){
        font-size: 16px;
        width: 200px;
        height: 40px;
        line-height: 40px;
        letter-spacing: 0.5px;
      }

      @media(max-width: 520px){
        width: 130px;

        span{
          display: none;
        }
      }
    }
  }
}

/*--- mob-top-banner ---*/
.mob-top-banner{
  display: none;
  height: 100vh;
  background-image: url("../img/mob-f-bg.jpg");
  @include bg-img;
  padding-top: 60px;

  @media(max-width: 600px){
    display: block;
  }

  .content{
    position: relative;
    height: 100vh;
  }

  .text-pic{
    @include flexbox;
    align-items: center;
    position: relative;
    z-index: 2;

    .text{

      @media(max-width: 767px){
        width: 400px;
      }

      @media(max-width: 580px){
        width: 300px;
      }

      @media(max-width: 430px){
        width: 200px;
      }
    }

    .img{
      margin-left: -15px;


      @media(max-width: 767px){
        width: 180px;
      }

      @media(max-width: 580px){
        width: 140px;
      }

      @media(max-width: 430px){
        width: 80px;
        margin-left: 0;
      }
    }
  }

  .pic{
    display: block;
    width: 300px;
    height: auto;
    position: absolute;
    bottom: 70px;
    left: 50%;
    margin-left: -100px;
    z-index: 3;

    @media(max-height: 640px){
      width: 250px;
      margin-left: -90px;
      bottom: 90px;
    }

  }

  .arrow{
    position: absolute;
    bottom: 70px;
    left: 50%;

    .fa{
      color: #ffffff;
      font-size: 40px;
      -webkit-animation: arrow-puls 2s infinite ease-in-out;
      animation: arrow-puls 2s infinite ease-in-out;

    }
  }

}


/*--- top-baner ---*/

.top-baner{
  background-image: url("../img/header-bg.jpg");
  @include bg-img;
  padding-top: 205px;
  padding-bottom: 86px;
  color: #ffffff;
  position: relative;

  @media(max-width: 1199px){
    padding-top: 245px;
  }

  @media(max-width: 992px){
    padding-top: 150px;
  }

  @media(max-width: 600px){
    padding-top: 60px;
    padding-bottom: 50px;
  }

  .context{
    text-transform: none !important;
    letter-spacing: 0.2px !important;
    font-size: 16px !important;
  }

  .content{
    position: relative;

    h3{
      margin-top: 0;
      font-size: 18px;
      text-transform: uppercase;
      font-family: $f-light;
      letter-spacing: 3.6px;
      position: relative;
      z-index: 2;
      margin-bottom: 30px;

      @media(max-width: 580px){
        font-size: 16px;
        letter-spacing: 1px;
      }
    }

    .text-pic{
      @include flexbox;
      align-items: center;
      margin-top: -160px;
      margin-left: -15px;
      position: relative;
      z-index: 2;

      @media(max-width: 1199px){
        margin-top: -100px;
      }

      @media(max-width: 992px){
        margin-top: -85px;
      }

      @media(max-width: 767px){
        margin-top: -80px;
        margin-left: -10px;
      }

      @media(max-width: 580px){
        margin-top: -70px;
      }

      @media(max-width: 430px){
        margin-top: -35px;
        margin-left: -5px;
      }

      .text{
        @media(max-width: 1199px){
          width: 600px;
          height: auto;
        }

        @media(max-width: 992px){
          width: 550px;
        }

        @media(max-width: 767px){
          width: 400px;
        }

        @media(max-width: 580px){
          width: 300px;
        }

        @media(max-width: 430px){
          width: 200px;
        }
      }

      .img{
        margin-left: -15px;

        @media(max-width: 1199px){
          width: 250px;
          height: auto;
        }

        @media(max-width: 992px){
          width: 220px;
        }

        @media(max-width: 767px){
          width: 180px;
        }

        @media(max-width: 580px){
          width: 140px;
        }

        @media(max-width: 430px){
          width: 80px;
          margin-left: 0;
        }
      }
    }

    h2{
      font-size: 27.2px;
      font-family: $f-bold;
      line-height: 2.54;
      margin-top: -130px;
      margin-bottom: 100px;
      position: relative;
      z-index: 2;

      @media(max-width: 1199px){
        margin-top: -80px;
      }

      @media(max-width: 992px){
        margin-top: -50px;
        max-width: 500px;
        line-height: 1.2;
      }

      @media(max-width: 767px){
        max-width: 400px;
      }

      @media(max-width: 580px){
        font-size: 24px;
        margin-top: -30px;
        max-width: 300px;
      }

      @media(max-width: 430px){
        margin-top: 0;
      }
    }

    .text{
      @include flexbox;
      position: relative;
      z-index: 2;

      @media(max-width: 680px){
        flex-wrap: wrap;
        flex-direction: column-reverse;
      }

      .list{
        margin-right: 198px;

        @media(max-width: 992px){
          margin-right: 100px;
        }

        @media(max-width: 430px){
          margin-right: 0;
        }

        p{
          margin-top: 0;
          font-size: 16px;
          text-transform: uppercase;
          font-family: $f-light;
          letter-spacing: 1.6px;
          margin-bottom: 10px;
        }

        ul{
          padding: 0;
          margin-bottom: 38px;
          position: relative;

          .print{
            position: absolute;
            top: 10px;
            right: 0;
            width: 163px;
            height: auto;

            @media(max-width: 992px){
              width: 143px;
              top: -10px;
              right: -30px;
            }

            @media(max-width: 710px){
              right: -50px;
            }

            @media(max-width: 480px){
              right: -70px;
              width: 113px;
            }

            @media(max-width: 430px){
              right: 0;
            }

            @media(max-width: 380px){
              top: -30px;
            }
          }

          li{
            list-style: none;
            margin-bottom: 5px;

            &::before{
              content: '';
              position: relative;
              width: 13px;
              height: 13px;
              border-radius: 50%;
              display: inline-block;
              background-image: linear-gradient(17deg, #c4819d, #8149b5, #ff4f45, #fff1f0);
              box-shadow: 0px 5px 4.7px 0.3px rgba(0, 0, 0, 0.09);
              margin-right: 10px;
            }
          }
        }

        .button{
          background-color: #000000;
          background-image: none;
          display: inline-block;
        }
      }

      .timer{
        margin-top: -30px;
        text-align: center;

        @media(max-width: 680px){
          margin-bottom: 30px;
        }

        p{
          margin-top: 0;
          font-size: 16px;
          text-transform: uppercase;
          font-family: $f-light;
          letter-spacing: 1.6px;
          margin-bottom: 0;
        }

        h3{
          font-size: 36px;
          margin-top: 0;
          margin-bottom: 0;
          letter-spacing: 0.5px;
          line-height: 1;
          text-transform: uppercase;
          font-family: $f-bold;
        }

        .timer-body{
          @include flexbox;
          width: 200px;
          margin-right: auto;
          margin-left: auto;

          .v-center{
            text-align: center;
            position: relative;
            font-size: 26px;
            text-transform: lowercase;
            font-family: $f-bn-bold;
            margin-right: 20px;

            &:last-child{
              margin-right: 0;
              &::after{
                display: none;
              }
            }

            &::after{
              content: ':';
              position: absolute;
              right: -15px;
              top: 0;
            }
            span{
              display: block;
              font-size: 16px;
              margin-top: -10px;
            }
          }
        }
      }
    }

    .block-pic{
      position: absolute;
      bottom: -100px;
      right: -190px;
      z-index: 1;

      @media(max-width: 992px){
        display: none;
      }
    }
  }

  .bubble{
    &:nth-child(1){
      top: 169px;
      left: 158px;
      -webkit-animation: bubble-mov-2 20s infinite ease-in-out;
      animation: bubble-mov-2 20s infinite ease-in-out;
    }

    &:nth-child(2){
      top: 155px;
      left: 170px;
      -webkit-animation: bubble-mov-2 15s infinite ease-in-out;
      animation: bubble-mov-2 15s infinite ease-in-out;
    }

    &:nth-child(3){
      top: 155px;
      left: 203px;
      -webkit-animation: bubble-mov-1 10s infinite ease-in-out;
      animation: bubble-mov-1 10s infinite ease-in-out;
    }

    &:nth-child(4){
      top: 204px;
      left: 177px;
      -webkit-animation: bubble-mov-2 22s infinite ease-in-out;
      animation: bubble-mov-2 22s infinite ease-in-out;
    }

    &:nth-child(5){
      top: 155px;
      left: 247px;
      -webkit-animation: bubble-mov-2 17s infinite ease-in-out;
      animation: bubble-mov-2 17s infinite ease-in-out;
    }

    &:nth-child(6){
      left: 810px;
      bottom: 142px;
      -webkit-animation: bubble-mov-1 12s infinite ease-in-out;
      animation: bubble-mov-1 12s infinite ease-in-out;
    }

    &:nth-child(7){
      left: 830px;
      bottom: 109px;
      -webkit-animation: bubble-mov-2 20s infinite ease-in-out;
      animation: bubble-mov-2 20s infinite ease-in-out;
    }

    &:nth-child(8){
      left: 831px;
      bottom: 119px;
      -webkit-animation: bubble-mov-2 15s infinite ease-in-out;
      animation: bubble-mov-2 15s infinite ease-in-out;
    }

    &:nth-child(9){
      left: 961px;
      bottom: 115px;
      -webkit-animation: bubble-mov-1 10s infinite ease-in-out;
      animation: bubble-mov-1 10s infinite ease-in-out;
    }

    &:nth-child(10){
      left: 658px;
      bottom: 337px;
      -webkit-animation: bubble-mov-2 22s infinite ease-in-out;
      animation: bubble-mov-2 22s infinite ease-in-out;
    }

    &:nth-child(11){
      right: 158px;
      bottom: 262px;
      -webkit-animation: bubble-mov-2 17s infinite ease-in-out;
      animation: bubble-mov-2 17s infinite ease-in-out;
    }
  }
}

/*--- if-you ---*/

.if-you{
  background-color: #000000;
  padding-top: 25px;
  padding-bottom: 31px;
  position: relative;

  @media(max-width: 992px){
    padding-bottom: 50px;
  }

  .content{
    @include flexbox;
    align-items: center;
    position: relative;
    z-index: 2;

    @media(max-width: 992px){
      flex-wrap: wrap;
      justify-content: space-around;
    }

    .img{
      margin-right: 55px;

      @media(max-width: 992px){
        margin-right: 0;
        margin-bottom: 30px;
      }

      @media(max-width: 570px){
        width: 100%;

        img{
          width: 100%;
          height: auto;
        }
      }
    }

    .text{

      @media(max-width: 992px){
        text-align: center;
      }

      .block-title{
        margin-bottom: 53px;

        @media(max-width: 1199px){
          line-height: 1.5;
        }

        @media(max-width: 570px){
          max-width: 400px;
          margin-left: auto;
          margin-right: auto;
        }
      }

      ul{
        padding-left: 0;
        margin-bottom: 40px;

        li{
          list-style: none;
          color: #ffffff;
          margin-bottom: 20px;
          text-align: left;

          &:last-child{
            margin-bottom: 0;
          }
        }
      }

      .button{
        display: inline-block;
      }
    }
  }

  .bubble{
    z-index: 1;

    &:nth-child(1){
      top: 171px;
      right: 275px;
      -webkit-animation: bubble-mov-2 20s infinite ease-in-out;
      animation: bubble-mov-2 20s infinite ease-in-out;
    }

    &:nth-child(2){
      bottom: 358px;
      right: 267px;
      -webkit-animation: bubble-mov-2 15s infinite ease-in-out;
      animation: bubble-mov-2 15s infinite ease-in-out;
    }

    &:nth-child(3){
      bottom: 153px;
      right: 207px;
      -webkit-animation: bubble-mov-1 10s infinite ease-in-out;
      animation: bubble-mov-1 10s infinite ease-in-out;
    }

    &:nth-child(4){
      bottom: 88px;
      right: 290px;
      -webkit-animation: bubble-mov-2 22s infinite ease-in-out;
      animation: bubble-mov-2 22s infinite ease-in-out;
    }

    &:nth-child(5){
      bottom: 71px;
      right: 375px;
      -webkit-animation: bubble-mov-2 17s infinite ease-in-out;
      animation: bubble-mov-2 17s infinite ease-in-out;
    }

    &:nth-child(6){
      bottom: 52px;
      right: 391px;
      -webkit-animation: bubble-mov-1 12s infinite ease-in-out;
      animation: bubble-mov-1 12s infinite ease-in-out;
    }

    &:nth-child(7){
      bottom: 37px;
      right: 569px;
      -webkit-animation: bubble-mov-2 24s infinite ease-in-out;
      animation: bubble-mov-2 24s infinite ease-in-out;
    }

    &:nth-child(8){
      bottom: 24px;
      left: 904px;
      -webkit-animation: bubble-mov-2 19s infinite ease-in-out;
      animation: bubble-mov-2 19s infinite ease-in-out;
    }

    &:nth-child(9){
      bottom: 27px;
      left: 878px;
      -webkit-animation: bubble-mov-1 14s infinite ease-in-out;
      animation: bubble-mov-1 12s infinite ease-in-out;
    }
  }
}

/*--- for-you ---*/

.for-you{
  background-color: #ffffff;
  padding-top: 38px;
  padding-bottom: 70px;

  .wotermark{
    opacity: 0.2;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(17deg, #6c5dc6, #ff4d45 35%, #ef7570 67%, #5d5dc2);
    font-size: 320.9px;
    font-family: $f-bn-bold;
    letter-spacing: 17.3px;
    margin-top: 0;
    margin-bottom: 0;
    white-space: nowrap;

    @media(max-width: 1199px){
      font-size: 250px;
    }

    @media(max-width: 992px){
      font-size: 180px;
    }

    @media(max-width: 767px){
      text-align: center;
      font-size: 150px;
      letter-spacing: 9px;
    }

    @media(max-width: 570px){
      font-size: 120px;
    }

  }

  .content{
    @include flexbox;
    align-items: center;
    justify-content: space-between;
    margin-top: -140px;

    @media(max-width: 1199px){
      margin-top: -120px;
    }

    @media(max-width: 992px){
      flex-wrap: wrap;
      justify-content: space-around;
      margin-top: -100px;
    }

    @media(max-width: 767px){
      margin-top: -90px;
    }

    .text{
      max-width: 470px;

      @media(max-width: 992px){
        margin-bottom: 50px;
        text-align: center;
      }

      .block-title{
        margin-bottom: 43px;

        @media(max-width: 992px){
          margin-bottom: 20px;
        }
      }

      ul{
        padding-left: 0;
        margin-bottom: 47px;

        @media(max-width: 992px){
          margin-bottom: 30px;
        }

        li{
          list-style: none;
          margin-bottom: 20px;
          text-align: left;

          @media(max-width: 992px){
            margin-bottom: 10px;
          }

          &:last-child{
            margin-bottom: 0;
          }
        }
      }

      .button{
        display: inline-block;
        margin-bottom: 15px;
      }

      .context{
        max-width: 400px;
      }

    }

    .img{
      position: relative;
      width: 575px;
      margin-top: -500px;

      @media(max-width: 992px){
        margin-top: 0;
        height: 435px;
      }

      @media(max-width: 420px){
        display: none;
      }

      .pic{
        position: absolute;
        box-shadow: 0 0 18.8px 0.2px rgba(0, 0, 0, 0.46);

        &:nth-child(1){
          top: 0;
          left: 0;
          z-index: 2;
        }

        &:nth-child(2){
          top: 34px;
          right: 0;
          z-index: 2;
        }

        &:nth-child(3){
          top: 190px;
          left: 100px;
          z-index: 3;
        }
      }
    }
  }
}

/*--- format-work ---*/

.format-work{
  background-color: #000000;
  padding-top: 60px;
  padding-bottom: 70px;

  .block-title{
    text-align: center;
    margin-bottom: 70px;
  }

  .content{
    @include flexbox;
    flex-wrap: wrap;
    justify-content: space-around;

    h3{
      width: 267px;
      text-align: center;
      background-position: top center;
      background-repeat: no-repeat;
      padding-top: 70px;
      color: #ffffff;
      margin-top: 0;
      margin-bottom: 78px;
      font-size: 16px;

      &:nth-child(1){
        background-image: url("../img/instagram.png");
      }

      &:nth-child(2){
        background-image: url("../img/exam.png");
      }

      &:nth-child(3){
        background-image: url("../img/clock.png");
      }

      &:nth-child(4){
        background-image: url("../img/gym.png");
      }

      &:nth-child(5){
        background-image: url("../img/chef.png");
      }

      &:nth-child(6){
        background-image: url("../img/idea.png");
      }

      &:nth-child(7){
        background-image: url("../img/locked.png");
      }
    }
  }
}

/*--- prize ---*/

.prize{
  background-image: url("../img/priz-bg.jpg");
  @include bg-img;
  padding-top: 65px;
  padding-bottom: 145px;
  position: relative;

  .container{
    position: relative;

  }

  .asinc-pic{
    position: absolute;
    z-index: 2;

    @media(max-width: 600px){
      display: none;
    }
  }

  .frukt{
    top: 110px;
    left: 37px;
    -webkit-animation: fruct-mov 10s infinite ease-in-out;
    animation: fruct-mov 10s infinite ease-in-out;

    @media(max-width: 992px){
      left: 70%;

    }
  }

  .clock{
    top: 50%;
    right: -60px;
    margin-top: -75px;
    -webkit-animation: clock-mov 10s infinite ease-in-out;
    animation: clock-mov 10s infinite ease-in-out;

    @media(max-width: 1320px){
      right: 0;
    }

    @media(max-width: 767px){
      right: 20px;
    }
  }

  .kubok{
    left: 100px;
    bottom: 0;
    -webkit-animation: kubok-mov 5s infinite ease-in-out;
    animation: kubok-mov 5s infinite ease-in-out;

    @media(max-width: 992px){
      left: 70%;
    }
  }

  .block-title{
    text-align: center;
    margin-bottom: 47px;

    @media(max-width: 330px){
      line-height: 1.5;
    }
  }

  .inup{
    margin-top: -20px;
  }

  .item{
    @include flexbox;
    align-items: flex-end;

    @media(max-width: 380px){
      margin-bottom: 15px;
    }

    .number{
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      background-image: linear-gradient(197deg, #ffffff, #f4eff2, #f6f6f6, #facbc5), linear-gradient(#ffffff, #ffffff);
      font-size: 160px;
      font-family: $f-bn-bold;
      line-height: 0.9;
      margin-right: 10px;

      @media(max-width: 600px){
        font-size: 100px;
      }
    }

    .text{
      padding-bottom: 25px;

      @media(max-width: 600px){
        padding-bottom: 15px;
      }
    }

  }

  .bubble{
    z-index: 1;

    &:nth-child(1){
      top: 25%;
      left: 45%;
      -webkit-animation: bubble-mov-2 20s infinite ease-in-out;
      animation: bubble-mov-2 20s infinite ease-in-out;
    }

    &:nth-child(2){
      top: 27%;
      left: 47%;
      -webkit-animation: bubble-mov-2 15s infinite ease-in-out;
      animation: bubble-mov-2 15s infinite ease-in-out;
    }

    &:nth-child(3){
      top: 32%;
      left: 60%;
      -webkit-animation: bubble-mov-1 10s infinite ease-in-out;
      animation: bubble-mov-1 10s infinite ease-in-out;
    }

    &:nth-child(4){
      top: 35%;
      left: 70%;
      -webkit-animation: bubble-mov-2 22s infinite ease-in-out;
      animation: bubble-mov-2 22s infinite ease-in-out;
    }

    &:nth-child(5){
      top: 50%;
      left: 40%;
      -webkit-animation: bubble-mov-2 17s infinite ease-in-out;
      animation: bubble-mov-2 17s infinite ease-in-out;
    }

    &:nth-child(6){
      top: 52%;
      left: 41%;
      -webkit-animation: bubble-mov-1 12s infinite ease-in-out;
      animation: bubble-mov-1 12s infinite ease-in-out;
    }

    &:nth-child(7){
      top: 70%;
      left: 45%;
      -webkit-animation: bubble-mov-2 24s infinite ease-in-out;
      animation: bubble-mov-2 24s infinite ease-in-out;
    }

    &:nth-child(8){
      top: 71%;
      left: 43%;
      -webkit-animation: bubble-mov-2 19s infinite ease-in-out;
      animation: bubble-mov-2 19s infinite ease-in-out;
    }

    &:nth-child(9){
      top: 72%;
      left: 38%;
      -webkit-animation: bubble-mov-1 16s infinite ease-in-out;
      animation: bubble-mov-1 16s infinite ease-in-out;
    }

    &:nth-child(10){
      top: 78%;
      left: 20%;
      -webkit-animation: bubble-mov-2 22s infinite ease-in-out;
      animation: bubble-mov-2 22s infinite ease-in-out;
    }

    &:nth-child(11){
      top: 79%;
      left: 21%;
      -webkit-animation: bubble-mov-2 17s infinite ease-in-out;
      animation: bubble-mov-2 17s infinite ease-in-out;
    }

    &:nth-child(12){
      top: 80%;
      left: 22%;
      -webkit-animation: bubble-mov-1 14s infinite ease-in-out;
      animation: bubble-mov-1 14s infinite ease-in-out;
    }

    &:nth-child(13){
      top: 81%;
      left: 23%;
      -webkit-animation: bubble-mov-2 20s infinite ease-in-out;
      animation: bubble-mov-2 20s infinite ease-in-out;
    }

    &:nth-child(14){
      top: 90%;
      left: 80%;
      -webkit-animation: bubble-mov-2 15s infinite ease-in-out;
      animation: bubble-mov-2 15s infinite ease-in-out;
    }

    &:nth-child(15){
      top: 91%;
      left: 82%;
      -webkit-animation: bubble-mov-1 12s infinite ease-in-out;
      animation: bubble-mov-1 12s infinite ease-in-out;
    }
  }
}

/*--- all-places ---*/

.all-places{
  /*background-color: #ffffff;*/
  padding-bottom: 66px;
  text-align: center;
  position: relative;

  .block-title{
    text-align: center;
    margin-bottom: 68px;
    margin-top: -70px;

    @media(max-width: 440px){
      line-height: 1.5;
    }
  }

  .place-wrapper{
    @include flexbox;
    justify-content: space-between;
    margin-bottom: 56px;

    @media(max-width: 1199px){
      flex-wrap: wrap;
      justify-content: space-around;
    }

    .place{
      position: relative;
      width: 267px;
      height: 266px;
      background-color: #ffffff;
      box-shadow: 0 0 14.1px 1.9px rgba(0, 0, 0, 0.13);

      @media(max-width: 1199px){
        margin-bottom: 30px;
      }

      .wotermark{
        font-family: $f-bn-bold;
        font-size: 240px;
        line-height: 1.3;
        letter-spacing: 1px;
        color: rgba(255, 77, 69, 0.1);
        text-align: left;
      }

      .text{
        position: absolute;
        top: 72px;
        width: 181px;
        margin-left: -90.5px;
        left: 50%;
        text-align: center;

        .block-title{
          margin-bottom: 10px ;
          line-height: 1.5;
          margin-top: 0;
        }

        .price{
          font-size: 17px;
          line-height: 1.2;

          span{
            font-family: $f-bold;
            font-size: 23px;
          }

        }

      }
    }
  }

  .consolation-prize{
    font-size: 22px;

    span{
      color: #ff4d45;
      font-family: $f-bn-bold;
      text-transform: uppercase;
      font-size: 30px;
    }
  }

  .more{
    margin: 0 auto 38px;
    font-size: 22px;
    line-height: 1.45;
    max-width: 640px;
  }

  .button{
    width: 221px;
    display: inline-block;
  }
}

/*--- results ---*/

.results{
  background-image: url("../img/result-bg.png");
  @include bg-img;
  padding-top: 71px;
  padding-bottom: 71px;

  .block-title{
    text-align: center;
    color: #ffffff;
    margin-bottom: 36px;

    @media(max-width: 480px){
      line-height: 1.5;
    }
  }

  .res-wrapper{
    position: relative;

    .context{
      text-align: center;
      color: #ffffff;
      margin-top: 20px;
    }

    .res-control{
      position: absolute;
      background-repeat: no-repeat;
      width: 8px;
      height: 16px;
      top: 50%;
      margin-top: -8px;
      display: block;

      @media(max-width: 767px){
        display: none;
      }
    }

    .prev{
      left: 0;
      background-image: url("../img/arrow-left.png");
    }

    .next{
      right: 0;
      background-image: url("../img/arrow-right.png");
    }

    .slide{
      width: 500px;
      margin-left: 25px;
      margin-right: 25px;

      img{
        width: 100%;
        height: auto;
      }
    }
  }
}

/*--- marathon-coach ---*/

.marathon-coach{
  background-color: #ffffff;

  .slide{
    @include flexbox;
    justify-content: space-between;

    @media(max-width: 992px){
      flex-wrap: wrap;
      justify-content: space-around;
    }

    .coach-pic{
      width: 582px;

      @media(max-width: 1199px){
        width: 400px;
      }

      img{
        width: 100%;
        height: auto;
      }
    }

    .about-coach{
      width: 471px;

      @media(max-width: 992px){
        text-align: center;
      }

      @media(max-width: 530px){
        width: 100%;
      }

      .wotermark{
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        background-image: linear-gradient(17deg, #6c5dc6, #ff4d45 35%, #ef7570 67%, #5d5dc2);
        font-size: 183.9px;
        font-family: $f-bn-bold;
        text-transform: uppercase;
        letter-spacing: 11px;
        opacity: 0.2;
        text-align: left;

        @media(max-width: 530px){
          font-size: 150px;
          text-align: center;
        }

        @media(max-width: 430px){
          font-size: 120px;
        }

        @media(max-width: 360px){
          font-size: 100px;
        }
      }

      .block-title{
        margin-bottom: 0;
        margin-top: -115px;
        text-align: left;
        font-size: 36px;

        @media(max-width: 530px){
          margin-top: -105px;
        }

        @media(max-width: 430px){
          margin-top: -97px;
        }

        @media(max-width: 360px){
          margin-top: -92px;
        }
      }

      h3{
        font-size: 22px;
        margin-top: 0;
        margin-bottom: 23px;
        line-height: 1.45;
        max-width: 410px;
        text-align: left;
      }

      p{
        margin-top: 0;
        margin-bottom: 37px;
        text-align: left;
      }

      .progress-pic{

        h3{
          font-family: $f-bn-bold;
          font-size: 24px;
          margin-bottom: 27px;
          letter-spacing: 1.4px;
          text-transform: uppercase;
          color: #ff4d45;
          text-align: left;
        }

        .pic-wrapper{
          @include flexbox;
          justify-content: space-between;
          margin-bottom: 45px;

          @media(max-width: 992px){
            width: 150px;
            flex-wrap: wrap;
            margin-left: auto;
            margin-right: auto;
          }

          .pic{
            width: 150px;
            position: relative;

            @media(max-width: 490px){
              margin-bottom: 10px;
            }


            img{
              width: 100%;
              height: auto;
            }

            .description{
              position: absolute;
              display: inline-block;
              height: 24px;
              line-height: 24px;
              color: #ffffff;
              text-transform: uppercase;
              font-size: 12px;
              letter-spacing: 0.8px;
              font-family: $f-bn-bold;
              padding-left: 10px;
              padding-right: 10px;
              background-color: #ff4d45;
              left: 0;
              bottom: 15px;
              margin-bottom: 0;
            }
          }
        }

      }

      .button{
        width: 328px;
        display: inline-block;
        float: right;

        @media(max-width: 992px){
          float: none;
        }

        @media(max-width: 360px){
          width: 100%;
          font-size: 16px;
        }
      }
    }
  }
}

/*--- participation-packages ---*/

.participation-packages{
  /*padding-top: 82px;*/
  background-color: #ffffff;
  padding-bottom: 80px;

  .block-title{
    margin-bottom: 5px;
    text-align: center;

    @media(max-width: 450px){
      line-height: 1.5;
    }
  }

  .up-price{
    width: 466px;
    height: 40px;
    margin: 0 auto 45px;
    background-color: #4140D0;

    @media(max-width: 540px){
      width: 90%;
      padding: 15px 30px;
      height: auto;
    }

    p{
      text-align: center;
      color: #ffffff;
      margin-bottom: 0;
      line-height: 40px;
      font-size: 14px;
      font-family: $f-bold;

      @media(max-width: 540px){
        line-height: 1.5;
      }
    }
  }


  .content{
    @include flexbox;
    justify-content: space-around;
    align-items: flex-start;

    @media(max-width: 992px){
      width: 380px;
      margin-right: auto;
      margin-left: auto;
      flex-wrap: wrap;
      justify-content: space-around;
    }

    @media(max-width: 400px){
      width: 100%;
    }

    .item{
      width: 367px;
      padding-top: 50px;
      padding-bottom: 70px;
      background-color: #ffffff;
      text-align: center;
      box-shadow: 0px 10px 11.6px 1.4px rgba(0, 0, 0, 0.13);
      transition: all 0.5s;
      border: 1px solid #ffffff;
      position: relative;


      &:hover{
        border: solid 1px #ff4d45;
      }

      @media(max-width: 1199px){
        width: 300px;
        padding-left: 15px;
        padding-right: 15px;
      }

      @media(max-width: 992px){
        width: 380px;
        margin-bottom: 30px;
      }

      @media(max-width: 400px){
        width: 100%;
      }

      .package-name{
        font-family: $f-bn-bold;
        font-size: 30px;
        letter-spacing: 1.8px;
        color: #ff4d45;
        text-transform: uppercase;
        margin-bottom: 35px;
        margin-top: 0;
      }

      .price{
        margin-bottom: 35px;
        font-size: 22px;
        margin-top: 0;
      }

      .old-price{
        font-size: 18px;
        opacity: 0.5;
        text-decoration: line-through;
        margin-bottom: 15px;
      }

      .new-price{
        margin-bottom: 35px;
        font-size: 22px;
        margin-top: 0;
        display: none;
      }

      .up-price-stiker{
        position: absolute;
        width: 42px;
        height: 42px;
        border-radius: 50%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: #4140D0;
        top: 110px;
        right: 30px;
        opacity: 1;

        @media(max-width: 1199px){
          right: 5px;
        }

        @media(max-width: 992px){
          right: 30px;
        }

        @media(max-width: 380px){
          right: 5px;
        }

        p{
          color: #ffffff;
          font-size: 14px;
          font-family: $f-bold;
          margin-bottom: 0;

          /*sup{
            font-size: 14px !important;
          }*/
        }
      }

      ul{
        padding-left: 0;
        margin-bottom: 37px;

        li{
          list-style: none;
          margin-bottom: 10px;

          &:last-child{
            margin-bottom: 0;
          }
        }
      }

      .button{
        width: 252px;
        display: inline-block;
        margin-bottom: 29px;
      }

      .booking{
        text-transform: uppercase;
        color: #111111;
        font-size: 17.4px;
        font-family: $f-bn-bold;
        letter-spacing: 1px;
        display: inline-block;
        transition: all 0.5s;
        position: relative;

        &:hover{
          .fa{
            right: -20px;
          }
        }

        .fa{
          font-size: 20px;
          transition: all 0.5s;
          position: absolute;
          top: 2px;
          right: -15px;
        }
      }
    }
  }
}

/*--- additional-options ---*/

.additional-options{
  background-color: #ffffff;
  padding-bottom: 82px;
  padding-top: 50px;

  .about-options{
    margin-bottom: 67px;

    @media(max-width: 992px){
      margin-top: 0;
    }

    .block-title{
      font-size: 24px;
      margin-bottom: 41px;
      line-height: 1.5;
    }
  }

  .content{
    .option{
      background-color: #faf8f8;
      box-shadow: 0px 10px 11.6px 1.4px rgba(0, 0, 0, 0.13);
      margin-bottom: 70px;
      padding-top: 36px;
      padding-bottom: 32px;
      padding-left: 85px;
      position: relative;

      @media(max-width: 767px){
        padding-left: 0;
        text-align: center;
      }

      &:nth-child(2){
        padding-right: 85px;

        @media(max-width: 767px){
          padding-right: 0;
        }

        .option-container{
          justify-content: flex-end;

        }

        .option-pic{
          left: -290px;

          @media(max-width: 992px){
            width: 300px;
            height: auto;
            left: 0;
            bottom: 70px;
          }

          @media(max-width: 767px){
            position: relative;
            top: 0;
            left: 0;
            margin: 0 auto 30px;
          }
        }

        .button{
          margin-left: 90px;

          @media(max-width: 992px){
            margin-left: 0;
          }
        }
      }


      .option-container{
        @include flexbox;

        @media(max-width: 767px){
          flex-wrap: wrap;
          justify-content: space-around;
        }
      }

      .price{
        margin-right: 90px;

        @media(max-width: 767px){
          width: 100%;
          text-align: center;
          margin-right: 0;
        }

        .block-title{
          margin-bottom: 38px;
          white-space: nowrap;
        }

        .price-type{
          h4{
            margin-top: 0;
            margin-bottom: 24px;
            font-size: 16px;
            letter-spacing: 1px;
            font-family: $f-light;
            text-transform: uppercase;
            white-space: nowrap;
          }

          p{
            font-size: 22px;
            white-space: nowrap;
          }
        }
      }

      .about-option{
        margin-bottom: 27px;

        @media(max-width: 767px){
          width: 100%;
          text-align: center;
        }

        ul{
          padding-left: 0;

          li{
            list-style: none;
            margin-bottom: 10px;
          }
        }
      }

      .button{
        display: inline-block;
        width: 252px;
        position: relative;
        z-index: 2;
      }

      .booking{
        text-transform: uppercase;
        color: #111111;
        font-family: $f-bn-bold;
        letter-spacing: 1px;
        font-size: 17px;
        margin-left: 49px;
        transition: all 0.5s;
        position: relative;

        @media(max-width: 520px){
          display: block;
          margin-left: 0;
          margin-top: 40px;
        }

        &:hover{
          .fa{
            right: -20px;
          }
        }

        .fa{
          font-size: 20px;
          transition: all 0.5s;
          position: absolute;
          top: -3px;
          right: -15px;

          @media(max-width: 520px){
            display: none;
          }
        }
      }

      .option-pic{
        position: absolute;
        right: -290px;
        bottom: 10px;
        z-index: 1;

        @media(max-width: 1199px){
          right: -350px;
        }

        @media(max-width: 992px){
          width: 200px;
          height: auto;
          right: -50px;
        }

        @media(max-width: 767px){
          position: relative;
          top: 0;
          left: 0;
          margin: 0 auto 30px;
          display: block;
        }
      }

    }
  }
}

/*--- about ---*/

.about{
  background-color: #000000;
  padding-top: 74px;
  padding-bottom: 70px;

  .block-title{
    text-align: center;
    margin-bottom: 40px;
  }

  .video-wrapper{
    width: 100%;
    padding-bottom: 56.25%;
    position: relative;

    .youtube{
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: #000000;
      border: none;
      padding: 0;

      .play{
        background-image: url("../img/play.png");
        background-repeat: no-repeat;
      }
    }

    iframe{
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      border: none;
    }
  }
}

/*--- reviews ---*/

.reviews{
  background-color: #ffffff;
  padding-top: 71px;
  padding-bottom: 128px;

  @media(max-width: 534px){
    padding-bottom: 75px;
  }

  .block-title{
    text-align: center;
    margin-bottom: 51px;
  }

  .context{
    text-align: center;
    margin-top: 40px;
  }

  .content{
    .rev-controls{
      position: absolute;
      top: 50%;
      color: #111111;
      z-index: 2;

      .fa{
        font-size: 22px;
        transition: all 0.5s;

        &:hover{
          transform: scale(1.2);
        }
      }
    }

    .prev{
      left: -10px;

      @media(max-width: 767px){
        left: 15px;
      }
    }

    .next{
      right: -10px;

      @media(max-width: 767px){
        right: 15px;
      }
    }

    .rev-slider{
      position: relative; z-index: 1;

      @media(max-width: 534px){
        display: none;
      }

      .slide{
        @include flexbox;
        flex-wrap: wrap;
        width: 370px;
        padding-bottom: 5px;
        padding-left: 5px;
        padding-right: 5px;


        &:focus{
          outline: none;
        }

        &:nth-child(odd){
          flex-direction: column-reverse;
        }

        .video{
          width: 100%;
          margin-bottom: 10px;
          margin-top: 10px;
          padding-bottom: 56.25%;
          position: relative;

          .youtube{
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: #ffffff;
            border: none;
            padding: 0;

            .play{
              background-image: url("../img/play.png");
              background-repeat: no-repeat;
            }
          }

          iframe{
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            border: none;
          }


          video{
            width: 100%;
            height: auto;

            &:focus{
              outline: none;
            }
          }
        }

        .img{
          width: 100%;
          border: solid 1px #ff4d45;

          img{
            width: 100%;
            height: auto;
          }
        }
      }

      .slick-dots{
        li{
          width: 10px;
          height: 10px;
          border-radius: 50%;
          background-color: #111111;
          opacity: 0.5;
          transition: all 0.5s;

          button{
            display: none;
          }
        }

        .slick-active{
          opacity: 1;
        }
      }
    }

    .mob-rev-slider{
      display: none;
      width: 80%;
      margin-left: auto;
      margin-right: auto;

      @media(max-width: 534px){
        display: block;
      }

      @media(max-width: 450px){
        width: 90%;
      }

      .slide{
        width: 370px;
        padding-bottom: 5px;
        padding-left: 5px;
        padding-right: 5px;

        &:focus{
          outline: none;
        }

        .video{
          width: 100%;
          margin-bottom: 10px;
          margin-top: 10px;
          padding-bottom: 56.25%;
          position: relative;

          .youtube{
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: #ffffff;
            padding: 0;
            border: none;

            .play{
              background-image: url("../img/play.png");
              background-repeat: no-repeat;
            }
          }

          iframe{
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            border: none;
          }
        }

        .img{
          width: 100%;
          border: solid 1px #ff4d45;

          img{
            width: 100%;
            height: auto;
          }
        }
      }
    }
  }
}

/*--- faq ---*/

.faq{
  padding-top: 70px;
  padding-bottom: 72px;
  background-image: linear-gradient(17deg, #6c5dc6, #ff4d45 35%, #ef7570 67%, #5d5dc2);

  .block-title{
    text-align: center;
    margin-bottom: 48px;
    color: #ffffff;

     @media(max-width: 360px){
       line-height: 1.5;
     }
  }

  .panel-group{
    border: none;

    .panel{
      background-color: rgba(0,0,0,0);
      border: none;
      box-shadow: none;
    }

    .panel-heading{
      background-color: rgba(0,0,0,0);
      height: 73px;
      padding: 0;
      border-bottom: 1px solid rgba(255,255,255,0.5);

      .panel-title{
        position: relative;

        a{
          color: #ffffff;
          text-transform: uppercase;
          font-size: 18px;
          letter-spacing: 1.1px;
          font-family: $f-bn-bold;
          line-height: 73px;

          &::after{
            content: '';
            background-image: url("../img/accardeon-arrows.png");
            background-repeat: no-repeat;
            position: absolute;
            display: block;
            width: 12px;
            height: 6px;
            right: 0;
            top: 40%;
            transform: rotate(-90deg);
            transition: all 0.5s;
          }
        }

        a.collapsed{
          &::after{
            transform: rotate(0deg);
          }
        }
      }

    }

    .panel-body{
      background-color: #ffffff;
      padding-top: 31px;
      padding-bottom: 27px;
      padding-left: 21px;

      .q-title{
        font-size: 16px;
        font-family: $f-bold;
        margin-bottom: 24px;
        position: relative;
        display: block;
        color: #111111;
        cursor: pointer;

        .fa{
          float: right;
          color: #111111;
          transition: all 0.5s;
          transform: rotate(0deg);
        }
      }

      .collapsed{
        .fa{
          transform: rotate(90deg);
        }
      }

      p{
        margin-bottom: 43px;
      }
    }

    .panel-heading+.panel-collapse>.list-group,
    .panel-heading+.panel-collapse>.panel-body{
      border: none;
    }
  }


  .panel-default>.panel-heading{
    background-color: rgba(0,0,0,0);
  }
}

/*--- member-team ---*/

.member-team{
  background-color: #ffffff;
  padding-top: 60px;
  padding-bottom: 52px;

  .content{
    @include flexbox;
    justify-content: space-between;
    align-items: center;

    @media(max-width: 992px){
      justify-content: space-around;
    }

    .text{
      .block-title{
        margin-bottom: 23px;

        @media(max-width: 1199px){
          line-height: 1.5;
        }
      }

      p{
        font-family: $f-bold;
        margin-bottom: 45px;
      }

      h4{
        text-transform: uppercase;
        font-family: $f-light;
        letter-spacing: 1px;
        margin-bottom: 22px;
      }

      ul{
        padding-left: 15px;
        margin-bottom: 47px;
        max-width: 458px;


        li{
          list-style: decimal;
          margin-bottom: 35px;

          &:last-child{
            margin-bottom: 0;
          }
        }
      }

      .button{
        display: inline-block;
      }
    }

    .img{
      @media(max-width: 992px){
        display: none;
      }
    }

  }
}

/*--- feedback-form ---*/

.feedback-form{
  background-image: url("../img/footer-bg.jpg");
  @include bg-img;
  padding-top: 142px;
  padding-bottom: 110px;

  @media(max-width: 767px){
    padding-top: 70px;
    padding-bottom: 60px;
  }

  .context{
    text-align: center;
    color: #ffffff;
  }

  .content{
    @include flexbox;
    justify-content: space-between;
    align-items: flex-end;

    @media(max-width: 767px){
      justify-content: space-around;
      flex-wrap: wrap;
      align-items: flex-start;
    }

    .slogan{
      width: 573px;
      letter-spacing: 4.4px;
      font-size: 90.3px;
      font-family: $f-bn-bold;
      line-height: 1.29;
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      background-image: linear-gradient(17deg, #6c5dc6, #ff4d45 35%, #ef7570 67%, #5d5dc2), linear-gradient(#ffffff, #ffffff);

      @media(max-width: 1199px){
        font-size: 81px;
      }

      @media(max-width: 992px){
        font-size: 71px;
      }

      @media(max-width: 767px){
        text-align: center;
        font-size: 51px;
        margin-top: 0;
        max-width: 440px;
        margin-left: auto;
        margin-right: auto;
      }

      @media(max-width: 380px){
        font-size: 41px;
      }
    }

    .form{
      width: 300px;
      text-align: center;
      padding-bottom: 57px;

      @media(max-width: 992px){
        padding-bottom: 0;
      }


      .block-title{
        line-height: 1.5;
        color: #ffffff;
        margin-bottom: 27px;
      }

      form{
        width: 100%;
        padding-bottom: 57px;

        .form-group{
          width: 100%;
          height: 50px;
          margin-bottom: 19px;

          .form-control{
            width: 100%;
            height: 100%;
            border-radius: 0;
            border: 1px solid rgba(255,255,255,0.6);
            box-shadow: none;
            padding-left: 18px;
            background-color: rgba(0,0,0,0);
            color: #ffffff;
          }
        }

        .form-textarea{
          height: 152px;
          margin-bottom: 17px;

          textarea{
            width: 100%;
            height: 100%;
            resize: none;
            border: 1px solid rgba(255,255,255,0.6);
            box-shadow: none;
            font-size: 14px;
            padding-left: 18px;
            font-family: $f-main;
            border-radius: 0;
            background-color: rgba(0,0,0,0);
            color: #ffffff;
          }

        }

        .button{
          width: 207px;
          border: none;
          margin-bottom: 15px;
        }

      }
    }
  }
}

/*--- prefooter ---*/

.prefooter{
  background-color: #000000;
  padding-top: 27px;
  padding-bottom: 27px;
  border-top: 1px solid rgba(255,255,255,0.27);

  .content{
    @include flexbox;
    justify-content: space-between;
    align-items: center;

    @media(max-width: 600px){
      width: 300px;
      margin-left: auto;
      margin-right: auto;
      justify-content: space-around;
      flex-wrap: wrap;
    }

    p{
      color: #ffffff;
      opacity: 0.6;
      font-size: 14px;

      a{
        color: #ffffff;
        transition: all 0.5s;

        &:hover{
          border-bottom: 1px solid #ffffff;
        }
      }
    }

    img{
      width: 130px;
      height: auto;

      @media(max-width: 600px){
        margin-bottom: 15px;
      }
    }
  }
}

/*--- footer ---*/

footer{
  background-color: #000000;
  padding-top: 23px;
  padding-bottom: 23px;
  border-top: 1px solid rgba(255,255,255,0.27);

  .content{
    @include flexbox;
    justify-content: space-between;

    @media(max-width: 560px){
      width: 280px;
      flex-wrap: wrap;
      justify-content: space-around;
      margin-left: auto;
      margin-right: auto;
    }

    a{
      color: #ffffff;
      opacity: 0.6;
      font-size: 14px;
      transition: all 0.5s;

      &:hover{
        opacity: 1;
      }
    }
  }
}

/*--- thx ---*/

.thx-body{
  background-image: url("../img/thx-bg.jpg");
  @include bg-img;
  padding-top: 248px;
  padding-bottom: 224px;

  @media(max-width: 600px){
    padding-top: 150px;
    padding-bottom: 150px;
  }

  .content{
    text-align: center;
    color: #ffffff;
    position: relative;

    h2{
      font-size: 80px;
      position: relative;
      z-index: 2;
      font-family: $f-bn-bold;
      margin-bottom: 30px;
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      background-image: linear-gradient(197deg, #f4eff2, #98588f, #ffffff, #facbc5), linear-gradient(#ffffff, #ffffff);
    }

    form{
      width: 300px;
      margin: 30px auto;
      position: relative;
      z-index: 2;

      @media(max-width: 350px){
        width: 100%;
      }

      .form-group{
        width: 100%;
        height: 50px;

        .form-control{
          width: 100%;
          height: 100%;
          box-shadow: none;
          border-radius: 0;
          border: 1px solid rgba(0,0,0,0.3);
          padding-left: 18px;
        }
      }

      .button{
        display: inline-block;
        position: relative;
        z-index: 2;
        border: none;
      }

    }

    p{
      font-family: $f-bold;
      font-size: 22px;
      margin-bottom: 59px;
      max-width: 416px;
      margin-left: auto;
      margin-right: auto;
      position: relative;
      z-index: 2;
    }

    .long{
      max-width: 565px;
    }

    .button{
      background-color: #000000;
      display: inline-block;
      background-image: none;
      position: relative;
      z-index: 2;
    }

    .x-pic{
      position: absolute;
      top: -190px;
      right: 70px;
      z-index: 1;

      @media(max-width: 600px){
        width: 300px;
        height: auto;
        top: -50px;
      }
    }
  }
}

/*--- popups ---*/

.my-popups{
  .modal-dialog{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;

    @media(max-width: 1100px){
      width: 750px;
    }

    @media(max-width: 800px){
      width: 500px;
    }

    @media(max-width: 540px){
      width: 300px;
    }

    .modal-content{
      width: 100%;
      border-radius: 3px;
      border: none;
      box-shadow: none;

      .modal-header{
        padding-top: 50px;
        border: none;
        position: relative;

        .close{
          position: absolute;
          top: 10px;
          right: 10px;
          font-size: 20px;
          transition: all 0.5s;

          &:focus{
            outline: none;
          }

          &:hover{
            transform: rotate(90deg);
            opacity: 1;
          }
        }

        .modal-title{
          text-align: center;
          margin-top: 0;
          margin-bottom: 40px;
          font-family: $f-bn-bold;
          text-transform: uppercase;
          font-size: 30px;

          @media(max-width: 540px){
            margin-bottom: 20px;
          }
        }
      }

      .modal-body{
        padding-left: 50px;
        padding-right: 50px;
        border: none;

        @media(max-width: 540px){
          padding-left: 15px;
          padding-right: 15px;
        }

        h3{
          margin-top: 0;
          margin-bottom: 20px;
          font-size: 26px;
          font-family: $f-bold;
        }

        li{
          margin-bottom: 10px;
        }
      }

      .modal-footer{
        padding: 0;
        border: none;
      }
    }
  }
}

/*--- popup-form ---*/

.popup-form{
  .modal-dialog{
    background-color: #ffffff;
    width: 568px;
    margin-left: auto;
    margin-right: auto;

    @media(max-width: 600px){
      width: 400px;
    }

    @media(max-width: 440px){
      width: 320px;
    }

    .modal-content{
      padding: 0;
      border: none;
      border-radius: 0;
      width: 100%;
      box-shadow: none;
      padding-top: 65px;
      padding-bottom: 72px;

      .modal-header{
        padding: 0;
        border: none;
        position: relative;

        .close{
          position: absolute;
          right: 10px;
          top: -50px;
          transition: all 0.5s;

          &:hover{
            transform: rotate(90deg);
          }

          &:focus{
            outline: none;
          }
        }

        .modal-title{
          text-align: center;
          font-size: 30px;
          font-family: $f-bn-bold;
          line-height: 1.33;
          letter-spacing: 1.8px;
          margin-bottom: 30px;
          text-transform: uppercase;
        }
      }

      .modal-body{
        padding: 0;
        border: none;
        width: 300px;
        margin-left: auto;
        margin-right: auto;

        @media(max-width: 440px){
          width: 280px;
        }

        .nav-tabs{
          margin-bottom: 20px;
          width: 282px;
          margin-left: auto;
          margin-right: auto;
          padding-left: 0;
          padding-right: 0;

          li.active>a{
            border: none;
          }

          li{
            border-bottom: 2px solid rgba(0,0,0,0);
            transition: all 0.5s;

            &:first-child{
              a{
                span{
                  background-image: url("../img/UA.svg");
                }
              }
            }

            &:last-child{
              a{
                span{
                  background-image: url("../img/RU.svg");
                }
              }
            }
          }

          a{
            color: #111111;
            font-size: 14px;
            border: none;

            @media(max-width: 440px){
              padding-left: 5px;
              padding-right: 5px;
            }

            &:hover{
              background-color: rgba(0,0,0,0);
              border: none;
            }

            span{
              font-weight: 700;
              font-size: 16px;
              transition: all 0.5s;
              display: inline-block;
              width: 100%;
              background-repeat: no-repeat;
              background-position: right;

            }
          }

          .active{
            border-bottom: 2px solid #ff4d45;

            span{
              color: #ff4d45;
            }
          }
        }

        label{
          display: block;
          margin-bottom: 25px;

          input[type=radio]{
            margin-right: 10px !important;
          }
        }

        form{
          width: 100%;

          .form-group{
            width: 100%;
            height: 50px;
            margin-bottom: 19px;

            &:last-child{
              margin-bottom: 30px;
            }

            .form-control{
              width: 100%;
              height: 100%;
              box-shadow: none;
              border-radius: 0;
              border: 1px solid rgba(0,0,0,0.3);
              padding-left: 18px;
            }
          }

          .button{
            width: 246px;
            border: none;
            display: block;
            margin: 0 auto;
          }

          .ya-pay{
            width: 184px;
            margin: 20px auto;
          }

          .booking{
            width: 208px;
            margin-bottom: 26px;
          }
        }

        .small{
          margin-top: 15px;
          max-width: 340px;
          font-size: 14px;
          font-family: $f-light;
          opacity: 0.6;
          line-height: 1.43;
          text-align: center;
        }
      }

      .modal-footer{
        padding: 0;
        border: none;
      }
    }
  }
}
