/*--- Basic styles ---*/
html{ overflow-y: scroll; }

body{
  font-family: $f-main;
  color: #111111;
  font-size: 16px;
  line-height: 1.6;
  padding-right: 0 !important;
}

.wrapper{
  width: 100%;
  margin: 0 auto;
  overflow-x: hidden;
  position: relative;
}

.preloader{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  z-index: 1000000;
}

.context{
  font-family: $f-light;
  opacity: 0.8;
}


*{
  box-sizing: border-box;
}

a{
  text-decoration: none;
  &:hover,
  &:focus,
  &:active,
  &:visited{
    text-decoration: none;
    outline: none;
  }
}

.button{
  width: 287px;
  height: 61px;
  mix-blend-mode: undefined;
  border-radius: 30.5px;
  background-image: linear-gradient(17deg, #ae548b, #ff4d45 35%, #fd4d46 67%, #c15179);
  color: #ffffff !important;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 1.1px;
  font-family: $f-bn-bold;
  text-align: center;
  line-height: 61px;
  cursor: pointer;
  transition: all 0.5s;
  outline: none !important;

  &:hover{
    opacity: 0.8;
  }

  &:focus{
    outline: none;
  }
}

.block-title {
  font-size: 30px;
  font-family: $f-bn-bold;
  line-height: 2.37;
  letter-spacing: 1.8px;
  color: #ff4d45;
  margin-top: 0;
  text-transform: uppercase;
}

@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}


@mixin bg-img{
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

/*--------- MENU ------------*/

.open-menu{
  
  text-transform: uppercase;
  color: #2EBE21;
}

.menu-wrap{
  position: fixed;
  top: 50px;
  right: -200px;;
  width: 200px;
  height: 500px;
  background-color: red;

  ul{
    li{
      border-bottom: 1px solid #ffffff;

      a{
        color: #ffffff;
      }
    }
  }
}

.menu-slider{
  -webkit-animation: slide-menu 1s infinite ease-in-out;
  animation: slide-menu 1s infinite ease-in-out;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;

}

@-webkit-keyframes slide-menu {
  0% {
    right: -200px;
  }

  100% {
    right: 0;
  }
}

@keyframes slide-menu {
  0% {
    right: -200px;
  }

  100% {
    right: 0;
  }
}

.menu-slider-out{
  -webkit-animation: slide-menu-out 1s infinite ease-in-out;
  animation: slide-menu-out 1s infinite ease-in-out;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  opacity: 0;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

@-webkit-keyframes slide-menu-out {
  0% {
    right: 0;
  }

  100% {
    right: -200px;
  }
}

@keyframes slide-menu-out {
  0% {
    right: 0;
  }

  100% {
    right: -200px;
  }
}

/*--- bubbles ---*/

.bubble{
  border-radius: 50%;
  position: absolute;
  opacity: 0.4;
  background-image: linear-gradient(17deg, #c4819d, #8149b5, #ff4d45, #f8f8f8);
  box-shadow: 0 0 13.2px 0.8px rgba(0, 0, 0, 0.24);
}

.b-bubble{
  width: 32px;
  height: 32px;
}

.m-bubble{
  width: 18px;
  height: 18px;

}

.s-bubble{
  width: 8px;
  height: 8px;
}

@-webkit-keyframes bubble-mov-1 {
  0% {
    transform: scale(1) rotate(0deg) translateX(00px) translateY(00px);
  }

  25%{
    transform: scale(1.2) rotate(45deg) translateX(70px) translateY(30px);;
  }

  50%{
    transform: scale(1.4) rotate(95deg) translateX(30px) translateY(50px);
  }

  75%{
    transform: scale(1.2) rotate(45deg) translateX(70px) translateY(30px);;
  }

  100% {
    transform: scale(1) rotate(0deg) translateX(00px) translateY(00px);
  }
}

@keyframes bubble-mov-1 {
  0% {
    transform: scale(1) rotate(0deg) translateX(00px) translateY(00px);
  }

  25%{
    transform: scale(1.2) rotate(45deg) translateX(70px) translateY(30px);;
  }

  50%{
    transform: scale(1.4) rotate(95deg) translateX(30px) translateY(50px);
  }

  75%{
    transform: scale(1.2) rotate(45deg) translateX(70px) translateY(30px);;
  }

  100% {
    transform: scale(1) rotate(0deg) translateX(00px) translateY(00px);
  }
}

@-webkit-keyframes bubble-mov-2 {
  0% {
    transform: scale(1) rotate(0deg) translateX(00px) translateY(00px);
  }

  25%{
    transform: scale(1.1) rotate(-45deg) translateX(30px) translateY(10px);;
  }

  50%{
    transform: scale(1.2) rotate(95deg) translateX(-10px) translateY(30px);
  }

  75%{
    transform: scale(1.1) rotate(-45deg) translateX(30px) translateY(10px);;
  }

  100% {
    transform: scale(1) rotate(0deg) translateX(00px) translateY(00px);
  }
}

@keyframes bubble-mov-2 {
  0% {
    transform: scale(1) rotate(0deg) translateX(0px) translateY(0px);
  }

  25%{
    transform: scale(1.1) rotate(-45deg) translateX(30px) translateY(10px);;
  }

  50%{
    transform: scale(1.2) rotate(95deg) translateX(-10px) translateY(30px);
  }

  75%{
    transform: scale(1.1) rotate(-45deg) translateX(30px) translateY(10px);;
  }

  100% {
    transform: scale(1) rotate(0deg) translateX(0px) translateY(0px);
  }
}

@-webkit-keyframes bubble-mov-3 {
  0% {
    transform: scale(1) rotate(0deg) translateX(0px) translateY(00px);
  }

  25%{
    transform: scale(1) rotate(20deg) translateX(15px) translateY(5px);;
  }

  50%{
    transform: scale(1.1) rotate(60deg) translateX(25px) translateY(15px);
  }

  75%{
    transform: scale(1) rotate(20deg) translateX(15px) translateY(5px);;
  }

  100% {
    transform: scale(1) rotate(0deg) translateX(0px) translateY(0px);
  }
}

@keyframes bubble-mov-3 {
  0% {
    transform: scale(1) rotate(0deg) translateX(0px) translateY(00px);
  }

  25%{
    transform: scale(1) rotate(20deg) translateX(15px) translateY(5px);;
  }

  50%{
    transform: scale(1.1) rotate(60deg) translateX(25px) translateY(15px);
  }

  75%{
    transform: scale(1) rotate(20deg) translateX(15px) translateY(5px);;
  }

  100% {
    transform: scale(1) rotate(0deg) translateX(0px) translateY(0px);
  }
}

/*--- my animations ---*/

@-webkit-keyframes clock-mov {
  0% {
    transform: rotate(0deg);
  }

  25%{
    transform: rotate(-45deg);
  }

  75%{
    transform: rotate(45deg);
  }

  100% {
    transform: translateX(0px) ;
  }
}

@keyframes clock-mov {
  0% {
    transform: rotate(0deg);
  }

  25%{
    transform: rotate(-45deg);
  }

  75%{
    transform: rotate(45deg);
  }

  100% {
    transform: translateX(0px) ;
  }
}

@-webkit-keyframes kubok-mov {
  0% {
    transform: scale(1);
  }

  50%{
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes kubok-mov {
  0% {
    transform: scale(1);
  }

  50%{
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

@-webkit-keyframes fruct-mov {
  0% {
    transform: translateX(0px);
  }

  50%{
    transform: translateX(20px);
  }

  100% {
    transform: translateX(0px);
  }
}

@keyframes arrow-puls {
  0% {
    transform: translateX(0px);
  }

  50%{
    transform: translateX(20px);
  }

  100% {
    transform: translateX(0px);
  }
}

@keyframes arrow-puls {
  0% {
    transform: scale(1);
  }

  50%{
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}